doctype html
html(lang="es-es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Portada | Curso PUG
        //- Estilos CSS
        link(rel="stylesheet", href="css/styles.css")
        script(src="js/main.js")
    body


        div
            h1 Hola estoy aprendiendo PUG
            p
                span Así se indenta con PUG
            //- Esto es un comentario en PUG que no se interpreta
            // Este comentario si se ve porque no lleva el guión

            //- etiquetas con atributos en PUG:

            a(href="http://www.julioemata.es",
                title="Sitio Julio Mata",
                target="_blank"
            ) Mi sitio Web

            div.caja.caja1 caja 1
            div.caja.caja2 caja 2
            div.caja.caja3 caja 3
            div.caja.caja4 caja 4

            //- Mostrar imagenes.
            img(src="img/logoLaragon2.png", alt="Logo")

            //- ejemplo de indentación manual con una lista, ver 2 ejemplos:
            //- ejemplo largo:
            ul.lista
                li.elemento
                    a(href="#").enlace Enlace 1
                li.elemento
                    a(href="#").enlace Enlace 2
                li.elemento
                    a(href="#").enlace Enlace 3

            //- ejemplo corto con indentación manual:
            ul.lista
                li.elemento: a(href="#").enlace Enlace 1
                li.elemento: a(href="#").enlace Enlace 2
                li.elemento: a(href="#").enlace Enlace 3

            //- Otro ejemplo de indentacion manual:
            .caja: .subcaja: p Hola


            //- formularios
            form(action="#")
                input(type="text", name="nombre", placeholder="Nombre")
                br
                input(type="email", name="email", placeholder="e-Mail")
                br
                input(type="submit", value="enviar")

            //- Tablas
            table#tabla(border="1")
                tr
                    td Linea 1 Celda 1
                    td Linea 1 Celda 2
                    td Linea 1 Celda 3
                tr
                    td Linea 2 Celda 1
                    td Linea 2 Celda 2
                    td Linea 2 Celda 3

            br
            //- Botones con función en JS
            button(onClick= "miFuncion1()") Alerta JS
            button(onClick= "miFuncion2()") Dame tu nombre


            //- Variables en pug, deben comenzar por un guión medio al
            //- declararlas.

            -let nombre = "Julio"
            -const apellido = "Mata"

            //- Imprimir variables, ejemplo escritura directa en html

            br
            h2= nombre + " " + apellido

            //- También se pueden usar las templates de string:

            h3= `El usuario es ${nombre} ${apellido}`

            //- Arrays, se definen igual que en javascript
            -const personas = ["Julio", " Carlos", " Yanira"]
            h3= `El array esta compuesto por ${personas}`
            h3= `El segundo nombre del array es: ${personas[1]}`

            //- Objetos, primero el guión solo y luego tabular el objeto.
            -
                const usuario = {
                        id: 1,
                        nombre: "Julio Mata",
                        web: "julioemata.es"
                }
            h2= `Los datos del usuario son ID: ${usuario.id} y nombre: ${usuario.nombre}`