//- Usando los block y los extends
extends ../templates/layoutPrincipal.pug


block tituloPagina
    | Dieta -

block header
    include ../templates/__menuLayout.pug
block titulo
    .titulo-seccion--h3
        h3 Contenido de página dieta
block principal
    include ../mixins/__comidasDieta.pug
    table.tablaDiaria
        tr.encabezados
            th Lunes
            th Martes
            th Miercoles
            th Jueves
            th Viernes
        tr
            +comida("Manzana")
            +comida("Naranja")
            +comida("Yogurt")
            +comida("Kiwi")
            +comida("Pera")
    br

    table.tablaDiaria
        tr.encabezados
            each val in ["tipo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes"]
                th= val

        tr
            each val in ["desayuno", "Tostada", "Cereales", "Yogurt con granola", "Bol frutas", "Tostada"]
                td= val
        tr
            each val in ["merienda", "Manzana", "Naranja", "Mandarina", "Kiwi", "Pera"]
                td= val
        tr
            each val in ["comida", "Pollo", "Pescado", "Pavo", "Carne", "Huevos"]
                td= val
        tr
            each val in ["merienda", "Manzana", "Naranja", "Mandarina", "Kiwi", "Pera"]
                td= val
        tr
            each val in ["cena", "Pollo", "Pescado", "Pavo", "Carne", "Huevos"]
                td= val




block piePagina
    include ../templates/__footerLayout.pug